


* {
    margin: 0;
    padding: 0;

}

.navbar-brand {
    img{
        width: 50px;
        height: 50px;
    }
    span {
        color: white;
        
    }
}

.pallalexbg {
    background-image: url('../img/bg.jpg');
    height: 90vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.palla {
    background-image: url('../img/bg.jpg');
    height: 20vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-body {
    text-align: center;
}


.service-img {
    height: 300px;
    width: 500px;
}

.team-img {
    height: 300px;
    width: 400px;
}

.copy {
    text-align: center;
    padding: 0;
}

